<%
	nb_of_beds = "?"
	last_update = hospital.updated_at
	if hospital.free_beds.count != 0 && hospital.free_beds.last.number
		nb_of_beds = hospital.free_beds.last.number.to_s + " <i class='fa fa-procedures'></i>"
		last_update = hospital.free_beds.last.updated_at
	end
%>

<div class="hospital-card">
	<div class="hospital-infos">
		<div class="hospital-text">
			<b><%= hospital.name %></b><br>
			<%= hospital.address %><br>
		</div>
		<div>
			Tel : <%= hospital.phone %><br>
			<i>Mise à jour : <%= last_update %></i>
		</div>
	</div>
	<div class="hospital-beds">
		<div class="number">
		<%= nb_of_beds.html_safe %>
		</div>
		<div class="links">
			<%= link_to "modifier", new_hospital_free_bed_path(hospital) %>
		</div>
	</div>
</div>
