<div class="hospital-card">
	<div class="hospital-infos">
		<b><%= hospital.name %></b><br>
		<%= hospital.address %><br>
		Tel : <%= hospital.phone %><br>
		<i>Mise à jour : <%= hospital.updated_at %></i>

	</div>
	<div class="hospital-beds">
		<% if hospital.free_beds.count != 0 %>
		<%= hospital.free_beds.last.number %> <i class="fa fa-procedures"></i>
		<% else %>
		?
		<% end %>

	</div>
</div>
